Common/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CopyComplete
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Common/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
Common/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Common/Infrastructure/obj/project.assets.json
Common/Infrastructure/obj/project.nuget.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Common/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
Web/bin/Debug/net6.0/Core.dll
Web/bin/Debug/net6.0/Core.pdb
Web/bin/Debug/net6.0/Dapper.dll
Web/bin/Debug/net6.0/Infrastructure.dll
Web/bin/Debug/net6.0/Infrastructure.pdb
Web/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
Web/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
Web/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
Web/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
Web/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
Web/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
Web/bin/Debug/net6.0/Newtonsoft.Json.dll
Web/bin/Debug/net6.0/Web.deps.json
Web/bin/Debug/net6.0/Web.dll
Web/bin/Debug/net6.0/Web.pdb
Web/bin/Debug/net6.0/Web.staticwebassets.runtime.json
Web/bin/Debug/net6.0/ref/Web.dll
Common/Infrastructure/bin/Debug/net6.0/Core.dll
Common/Infrastructure/bin/Debug/net6.0/Core.pdb
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.deps.json
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
Common/Infrastructure/bin/Debug/net6.0/ref/Infrastructure.dll
Common/Core/bin/Debug/net6.0/Core.dll
Common/Core/bin/Debug/net6.0/Core.pdb
Common/Core/obj/Debug/net6.0/Core.csproj.AssemblyReference.cache
Common/Core/obj/Debug/net6.0/Core.csproj.CoreCompileInputs.cache
Common/Core/obj/Debug/net6.0/Core.dll
Common/Core/obj/Debug/net6.0/Core.pdb
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.deps.json
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
Common/Infrastructure/bin/Debug/net6.0/Infrastructure.pdb
Common/Infrastructure/bin/Debug/net6.0/ref/Infrastructure.dll
Common/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Common/Infrastructure/obj/project.assets.json
Common/Infrastructure/obj/project.nuget.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.assets.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
Common/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
Common/Infrastructure/obj/Debug/net6.0/ref/Infrastructure.dll
Web/bin/Debug/net6.0/Core.dll
Web/bin/Debug/net6.0/Core.pdb
Web/bin/Debug/net6.0/Infrastructure.dll
Web/bin/Debug/net6.0/Infrastructure.pdb
Web/bin/Debug/net6.0/Web.deps.json
Web/bin/Debug/net6.0/Web.dll
Web/bin/Debug/net6.0/Web.pdb
Web/bin/Debug/net6.0/Web.staticwebassets.runtime.json
Web/bin/Debug/net6.0/ref/Web.dll
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/Web.csproj.nuget.dgspec.json
Web/obj/Debug/net6.0/project.razor.json
Web/obj/Debug/net6.0/staticwebassets.build.json
Web/obj/Debug/net6.0/staticwebassets.development.json
Web/obj/Debug/net6.0/Web.assets.cache
Web/obj/Debug/net6.0/Web.csproj.AssemblyReference.cache
Web/obj/Debug/net6.0/Web.csproj.CoreCompileInputs.cache
Web/obj/Debug/net6.0/Web.csproj.FileListAbsolute.txt
Web/obj/Debug/net6.0/Web.dll
Web/obj/Debug/net6.0/Web.GeneratedMSBuildEditorConfig.editorconfig
Web/obj/Debug/net6.0/Web.pdb
Web/obj/Debug/net6.0/ref/Web.dll
Web/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
Web/obj/Debug/net6.0/scopedcss/bundle/Web.styles.css
Web/obj/Debug/net6.0/scopedcss/projectbundle/Web.bundle.scp.css
