@{
    ViewData["Title"] = "Социальная сеть";
}

<div class="text-center">
    <h1 class="display-4">Социальная сеть</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Перейти в <a href="/Profile/Index">профиль</a>.</p>
    }
    else{
        <p><a href="/Account/Login">Войти</a>.</p>
    }
</div>
